<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="search"></ion-icon>
      Explore
    </ion-tab-button>
    <ion-tab-button tab="mybookings">
    <ion-icon name="checkbox-outline"></ion-icon>
    Bookings
  </ion-tab-button>
  <ion-tab-button tab="offers">
    <ion-icon name="heart-outline"></ion-icon>
    Offres
  </ion-tab-button>

  <ion-tab-button tab="travel">
    <ion-icon name="bed-outline"></ion-icon>
    Travel
  </ion-tab-button>
  <ion-tab-button tab="profil">
    <ion-icon name="settings-outline"></ion-icon>
    Profil
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
